{% extends 'base.html' %}
{% block content %}
    <main>
        <div>
            <h1>My Accounts</h1>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </thead>
                <tbody>
                    {% for account in account.all %}
                    <tr>
                        <td>{{account.name}}</td>
                        <td>{{account.number}}</td>
                        <td>{{account.receipts.count}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>
{% endblock content %}
